@import './base.css';

body {
  min-width: 320px;
  background:
    radial-gradient(circle at 50% 0%, rgb(255 255 255 / 42%), transparent 34rem),
    #9f9f9b;
}

button {
  font: inherit;
}

#app {
  min-height: 100vh;
}
